<% if current_user.admin? %>
  <%= link_to "Create new Category", :categories %>
<% end %>

<h3><%= link_to "View my products", [current_user, :products]  %></h3>
<h3><%= link_to "Add new item for sale", [:new, :product] %></h3>
